<style>
    li {
        font-size: 2rem;
        padding-left: 30px;
    }
</style>

<h1 class="banner">Dashboard</h1>
{{#unless isListEnabled}}
    <ul>
        <li>Home</li>
        <li>About</li>
        <li>Donate</li>
    </ul>
{{/unless}}

