{{> header }}

<h1>Index Page</h1>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis quo voluptates ea aut totam itaque eius odit reprehenderit asperiores fugit, vel minus labore excepturi? Est dicta ipsam molestiae recusandae nemo?</p>

{{> footer}}

